<!DOCTYPE html>
<html lang="en" ng-app="publicArt">
<head ng-controller="titleController">
    <meta charset="UTF-8">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <title>{{dashboardTitle}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/jquery.mmenu.css">
    <link rel="stylesheet" href="css/datetimepicker.css">
    <link rel="stylesheet" href="css/datetimepicker.css.map">
    <link rel="stylesheet" href="css/publicartchicago.css">
</head>
<body ng-controller="dashboardController">
<div id="page"> <!-- wrapper -->
    <nav id="menu" class="menu">
        <ul>
            <li class="Label"><a href="{{baseUrl}}/dashboard.html">Admin Panel</a></li>
            <li><a href="{{baseUrl}}/dashboard.html#/objects">Objects</a></li>
            <li><a href="{{baseUrl}}/dashboard.html#/artists">Artists</a></li>
            <li><a href="{{baseUrl}}/dashboard.html#/tours">Tours</a></li>
            <li><a href="{{baseUrl}}/dashboard.html#/pois">POIs</a></li>
            <li><a href="{{baseUrl}}/dashboard.html#/ads">Ads</a></li>
            <li><a href="{{baseUrl}}/dashboard.html#/narrators">Narrators</a></li>
        </ul>
    </nav>
    <div id="header">
        <a href="#menu"></a>
        Public Art Chicago Dashboard (Back4app BETA)
        <form class="header-form">
            <input type="text" placeholder="Enter Search Term Here" />
            <button class="btn btn-default" type="button" ng-click="search()">Search</button>
            <button class="btn btn-default" type="button" ng-click="logout()">Logout</button>
        </form>
    </div>

    <div id="content" class="container-fluid">
        <!-- content dynamically loaded here -->
        <ng-view />
    </div>
    <div id="footer">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                Copyright &copy;2016
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.mmenu.all.min.js"></script>
<script src="js/datetimepicker.js"></script>
<script src="js/datetimepicker.templates.js"></script>
<script>
    $(function() {
        $('nav#menu').mmenu({
            // options
        }, {
            // configuration
        });
        $("#menu").trigger("open");
    });
</script>
<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="js/ui-bootstrap-tpls-2.1.3.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/parse.min.js"></script>
<script src="js/publicartchicago.js"></script>
</body>
</html>