<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>All Artists</h1>
        <button class="btn btn-primary btn-create" ng-click="openCreateArtist()">Create New Artist</button>

        <table class="table table-bordered">
            <tr>
                <th>Artist Name</th>
                <th>Artist Id</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="artist in artists">
                <td>{{artist.name}}</td>
                <td>{{artist.id}}</td>
                <td>
                    <form>
                        <button class="btn btn-default" type="button">Edit</button>
                        <button class="btn btn-default" type="button">Delete</button>
                        <input type="hidden" id="objId" value="{{artist.id}}">
                    </form>
                </td>
            </tr>
        </table>

        <p>Please use the navigation drawer on the top left to navigate</p>
    </div>
    <div class="col-md-2"></div>
</div>