<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Create Ad</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="adName">Ad Name</label>
            <div class="col-md-4">
                <input id="adName" name="adName" ng-model="ad.name" placeholder="Enter name of ad here" class="form-control input-md" required="" type="text">
                <span class="help-block">Enter a descriptive name for the ad</span>
            </div>
        </div>

        <!-- Multiple Checkboxes (inline) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="demoAd">Is Demo Ad?</label>
            <div class="col-md-4">
                <label class="checkbox-inline" for="demoAd">
                    <input name="demoAd" id="demoAd" ng-model="ad.isDemoAd" value="1" type="checkbox">
                </label>
            </div>
        </div>

        <!-- Multiple Checkboxes (inline) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="globalAd">Is Global Ad?</label>
            <div class="col-md-4">
                <label class="checkbox-inline" for="globalAd">
                    <input name="globalAd" id="globalAd" ng-model="ad.isGlobalSponsor" value="1" type="checkbox">
                </label>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="adStartDate">Start Date</label>
            <div class="col-md-4">
                <input id="adStartDate" name="adStartDate" placeholder="Enter ad start date" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="adEndDate">End Date</label>
            <div class="col-md-4">
                <input id="adEndDate" name="adEndDate" placeholder="Enter ad end date" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="adStartTime">Start Time</label>
            <div class="col-md-4">
                <input id="adStartTime" name="adStartTime" placeholder="Enter ad start time" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="adEndTime">End Time</label>
            <div class="col-md-4">
                <input id="adEndTime" name="adEndTime" placeholder="Enter ad end time" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="adImageUploadBtn">Upload New Ad Image</label>
            <div class="col-md-4">
                <button id="adImageUploadBtn" name="adImageUploadBtn" class="btn btn-primary" ng-click="underConstruction()">Upload Image</button>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="uploadAdVideoBtn">Upload New Ad Video</label>
            <div class="col-md-4">
                <button id="uploadAdVideoBtn" name="uploadAdVideoBtn" class="btn btn-primary" ng-click="underConstruction()">Upload Video</button>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="createAdBtn">Create Object</label>
            <div class="col-md-8">
                <button id="createAdBtn" name="createAdBtn" class="btn btn-success" ng-click="saveNewAd(ad)">Create Ad</button>
                <button id="cancelAdBtn" name="cancelAdBtn" class="btn btn-danger" ng-click="openAdList()">Cancel</button>
            </div>
        </div>

    </fieldset>
</form>
