<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Create Object</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="objectName">Object Name</label>
            <div class="col-md-4">
                <input id="objectName" name="objectName" ng-model="object.name" placeholder="Enter object name here" class="form-control input-md" type="text">
                <span class="help-block">The art object name should be descriptive</span>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="artType">Art Type</label>
            <div class="col-md-4">
                <select ng-model="object.art_type" id="artType" name="artType" ng-model="object.type" class="form-control">
                    <option value="1">Building</option>
                    <option value="2">Sculpture</option>
                    <option value="3">Mosaic</option>
                    <option value="4">Mural</option>
                    <option value="5">Painting</option>
                </select>
            </div>
        </div>

        <!-- Select Multiple -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectArtists">Artist(s)</label>
            <div class="col-md-4">
                <select ng-model="object.artists" id="selectArtists" name="selectArtists" ng-model="object.artists" class="form-control" multiple="multiple">
                    <option ng-repeat="art in artists" value="{{art.id}}">{{art.name}}</option>
                </select>
            </div>
        </div>

        <!-- Select Multiple -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectBenefactors">Benefactor(s)</label>
            <div class="col-md-4">
                <select ng-model="object.benefactors" id="selectBenefactors" name="selectBenefactors" class="form-control" multiple="multiple">
                    <option value="1">Benefactor one</option>
                    <option ng-repeat="sponsor in sponsors" value="{{sponsor.id}}">{{sponsor.name}}</option>
                </select>
            </div>
        </div>

        <!-- Date Drop Down -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="objectCreateDateTimePicker">Creation Date</label>
            <div class="col-md-4">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group"><input type="text" id="objectCreateDateTimePicker" class="form-control" data-ng-model="data.dateDropDownInput"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="descriptionTextArea">Description</label>
            <div class="col-md-4">
                <textarea ng-model="object.description" class="form-control" id="descriptionTextArea" name="descriptionTextArea">Art object description...</textarea>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="measurements">Measurements</label>
            <div class="col-md-4">
                <input ng-model="measurements" id="measurements" name="measurements" placeholder="Enter measurements of art object here" class="form-control input-md" type="text">
                <span class="help-block">The measurements should include dimensions</span>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="historyTextArea">History Description</label>
            <div class="col-md-4">
                <textarea ng-model="object.history_description" class="form-control" id="historyTextArea" name="historyTextArea">Art object history...</textarea>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="material">Material</label>
            <div class="col-md-4">
                <input ng-model="object.material" id="material" name="material" placeholder="Material art work is made of" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="address">Address</label>
            <div class="col-md-4">
                <input ng-model="object.address" id="address" name="address" placeholder="Enter the address of the art object" class="form-control input-md" type="text">
                <span class="help-block">Major street crossing may suffice if address is unknown</span>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="city">City</label>
            <div class="col-md-4">
                <input ng-model="object.city" id="city" name="city" placeholder="Enter city where art object is located" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="zipcode">Zip</label>
            <div class="col-md-4">
                <input ng-model="object.zipcode" id="zipcode" name="zipcode" placeholder="Enter Zip or Postal Code" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="latitude">Latitude</label>
            <div class="col-md-4">
                <input ng-model="object.latitude" id="latitude" name="latitude" placeholder="Enter the object latitude here" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="longitude">Logitude</label>
            <div class="col-md-4">
                <input ng-model="object.longitude" id="longitude" name="longitude" placeholder="Enter the object longitude here" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Select Multiple -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectFunFactNarrator">Fun Fact Narrator</label>
            <div class="col-md-4">
                <select ng-model="object.narrator_fun_fact"  id="selectFunFactNarrator" name="selectFunFactNarrator" class="form-control">
                    <option value="1">Select Fun Fact Narrator(s)</option>
                    <option ng-repeat="narrator in narrators" value="{{narrator.id}}">{{narrator.name}}</option>
                </select>
            </div>
        </div>

        <!-- Select Multiple -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectInfoNarrator">General Info Narrator</label>
            <div class="col-md-4">
                <select ng-model="object.narrator_gen_fact" id="selectInfoNarrator" name="selectInfoNarrator" class="form-control">
                    <option value="1">Select Narrator(s)</option>
                    <option ng-repeat="narrator in narrators" value="{{narrator.id}}">{{narrator.name}}</option>
                </select>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="uploadThumbBtn">Upload Thumbnail</label>
            <div class="col-md-4">
                <button id="uploadThumbBtn" name="uploadThumbBtn" class="btn btn-primary">Choose Thumbnail...</button>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="uploadImageBtn">Upload Image</label>
            <div class="col-md-4">
                <button id="uploadImageBtn" name="uploadImageBtn" class="btn btn-primary">Choose Image...</button>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="createObjectBtn">Create Object</label>
            <div class="col-md-8">
                <button id="createObjectBtn" name="createObjectBtn" class="btn btn-success" ng-click="saveNewObject(object)">Create Object</button>
                <button id="cancelObjectBtn" name="cancelObjectBtn" class="btn btn-danger" ng-click="openObjectList()">Cancel</button>
            </div>
        </div>

    </fieldset>
</form>



