<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>All Points of Interest (POI)s</h1>
        <button class="btn btn-primary btn-create" ng-click="openCreatePOI()">Create New POI</button>

        <table class="table table-bordered table-stripped">
            <tr>
                <th>Name</th>
                <th>Coordinates</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="poi in pois">
                <td>{{poi.name}}</td>
                <td>{{poi.location.latitude}}, {{poi.location.longitude}}</td>
                <td>
                    <button class="btn btn-default" type="button">Edit</button>
                    <button class="btn btn-default" type="button" ng-click="deletePOI(poi.id)">Delete</button>
                </td>
            </tr>
        </table>

        <p>Please use the navigation drawer on the top left to navigate</p>
    </div>
    <div class="col-md-2"></div>
</div>