<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>All Tours</h1>
        <button class="btn btn-primary btn-create" ng-click="openCreateTour()">Create New Tour</button>
        <table class="table table-bordered table-stripped">
            <tr>
                <th>Tour Name</th>
                <th>Tour Description</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="tour in tours">
                <td>{{tour.name}}</td>
                <td>{{tour.description}}</td>
                <td>
                    <button class="btn btn-default" type="button" ng-click="getTour(tour.id)">Edit</button>
                    <button class="btn btn-default" type="button" ng-click="deleteTour(tour.id)">Delete</button>
                </td>
            </tr>
        </table>

        <p>Please use the navigation drawer on the top left to navigate</p>
    </div>
    <div class="col-md-2"></div>
</div>